<div class="container-fluid">
  <form
    #userForm="ngForm"
    *ngIf="!submitted"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <p class="mandatory">
      Položky označené červenou hviezdičkou <span class="star">*</span> sú povinné.
    </p>
    <header>
      <h1>Žiadosť o pandemické nemocenské</h1>
      <p>(nárok uplatnený počas krízovej situácie)</p>
      <h2>Poistenec, ktorý si uplatňuje nárok na pandemické nemocenské</h2>
    </header>
    <!--Osobné údaje-->
    <section id="step1" *ngIf="step === 1">
      <h3>
        <span><i class="fas fa-user"></i></span>Vaše osobné údaje:
      </h3>
      <!--Meno-->
      <div class="input-row">
        <div class="form-group">
          <label>Meno<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[A-Ža-ž-\. ]{2,12}$"
            #name="ngModel"
            [class.is-invalid]="name.invalid && name.touched"
            class="form-control"
            name="name"
            [(ngModel)]="userModel.name"
          />
          <div *ngIf="name.errors && (name.invalid || name.touched)">
            <small
              [class.d-none]="name.valid || name.untouched"
              class="text-error"
              *ngIf="name.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="name.errors.pattern"
              >Meno by nemalo obsahovať číslice ani špeciálne znaky</small
            >
          </div>
        </div>

        <!--Priezvisko-->
        <div class="form-group">
          <label>Priezvisko<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[A-Ža-ž-\. ]{2,16}$"
            #surname="ngModel"
            [class.is-invalid]="surname.invalid && surname.touched"
            class="form-control"
            name="surname"
            [(ngModel)]="userModel.surname"
          />
          <div *ngIf="surname.errors && (surname.invalid || surname.touched)">
            <small
              [class.d-none]="surname.valid || surname.untouched"
              class="text-error"
              *ngIf="surname.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="surname.errors.pattern"
              >Priezvisko by nemalo obsahovať číslice ani špeciálne znaky</small
            >
          </div>
        </div>
      </div>

      <!--Dátum narodenia-->
      <div class="input-row">
        <div class="form-group">
          <label>Dátum narodenia<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[0-9]{1,2}(\.\s?)[0-9]{1,2}(\.\s?)[0-9]{4}$"
            #birthDate="ngModel"
            [class.is-invalid]="birthDate.invalid && birthDate.touched"
            class="form-control"
            name="birthDate"
            [(ngModel)]="userModel.birthDate"
          />
          <div
            *ngIf="birthDate.errors && (birthDate.invalid || birthDate.touched)"
          >
            <small
              [class.d-none]="birthDate.valid || birthDate.untouched"
              class="text-error"
              *ngIf="birthDate.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="birthDate.errors.pattern"
              >Zadajte dátum vo formáte 'dd.mm.rrrr'</small
            >
          </div>
        </div>

        <!--Rodné číslo-->
        <div class="form-group">
          <label>Rodné číslo<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^(\d){9,10}$"
            #identificationNumber="ngModel"
            [class.is-invalid]="
              identificationNumber.invalid && identificationNumber.touched
            "
            class="form-control"
            name="identificationNumber"
            [(ngModel)]="userModel.identificationNumber"
          />
          <div
            *ngIf="
              identificationNumber.errors &&
              (identificationNumber.invalid || identificationNumber.touched)
            "
          >
            <small
              [class.d-none]="
                identificationNumber.valid || identificationNumber.untouched
              "
              class="text-error"
              *ngIf="identificationNumber.errors.required"
              >Tento údaj je povinný</small
            >
            <small
              class="text-error"
              *ngIf="identificationNumber.errors.pattern"
              >Zadajte platné (9 alebo 10 miestne) rodné číslo bez oddeľovača a
              bez medzier</small
            >
          </div>
        </div>
      </div>
      <button
        [disabled]="userForm.form.invalid"
        (click)="nextStep()"
        class="nextBtn"
      >
        Ďalej<i class="fas fa-angle-double-right"></i>
      </button>
    </section>

    <!--Korešpondenčná adresa-->
    <section id="step2" *ngIf="step === 2">
      <h3>
        <span><i class="fas fa-home"></i></span>Vaša korešpondendenčná adresa:
      </h3>
      <a class="prevBtn" (click)="previousStep()"><i class="fas fa-angle-double-left"></i>Späť</a>
      <!--Ulica-->
      <div class="input-row">
        <div class="form-group">
          <label>Ulica<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[A-Ža-ž0-9-. ]{2,30}$"
            #street="ngModel"
            [class.is-invalid]="street.invalid && street.touched"
            class="form-control"
            name="street"
            [(ngModel)]="userModel.street"
          />
          <div *ngIf="street.errors && (street.invalid || street.touched)">
            <small
              [class.d-none]="street.valid || street.untouched"
              class="text-error"
              *ngIf="street.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="street.errors.pattern"
              >Zadajte názov ulice bez špeciálnych znakov</small
            >
          </div>
        </div>
      </div>

      <div class="input-row">
        <!--Súpisné číslo-->
        <div class="form-group">
          <label>Súpisné číslo<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[0-9]{1,4}$"
            #registerNumber="ngModel"
            [class.is-invalid]="
              registerNumber.invalid && registerNumber.touched
            "
            class="form-control"
            name="registerNumber"
            [(ngModel)]="userModel.registerNumber"
          />
          <div
            *ngIf="
              registerNumber.errors &&
              (registerNumber.invalid || registerNumber.touched)
            "
          >
            <small
              [class.d-none]="registerNumber.valid || registerNumber.untouched"
              class="text-error"
              *ngIf="registerNumber.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="registerNumber.errors.pattern"
              >Zadajte max 4-miestne súpisné číslo bez písmen a špeciálnych
              znakov</small
            >
          </div>
        </div>

        <!--Orientačné číslo-->
        <div class="form-group">
          <label>Orientačné číslo (nepovinný údaj)</label>
          <input
            type="text"
            class="form-control"
            name="orientationNumber"
            #orientationNumber="ngModel"
            [(ngModel)]="userModel.orientationNumber"
          />
        </div>
      </div>

      <div class="input-row">
        <!--PSČ-->
        <div class="form-group">
          <label>PSČ<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^[\d]{5}$"
            #postcode="ngModel"
            [class.is-invalid]="postcode.invalid && postcode.touched"
            class="form-control"
            name="postcode"
            [(ngModel)]="userModel.postcode"
          />
          <div
            *ngIf="postcode.errors && (postcode.invalid || postcode.touched)"
          >
            <small
              [class.d-none]="postcode.valid || postcode.untouched"
              class="text-error"
              *ngIf="postcode.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="postcode.errors.pattern"
              >PSČ má obsahovať iba čísla, zadajte vo formáte: 92001</small
            >
          </div>
        </div>

        <!--Obec-->
        <div class="form-group">
          <label>Obec<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^^[a-žA-Ž ]{3,20}$"
            #borough="ngModel"
            [class.is-invalid]="borough.invalid && borough.touched"
            class="form-control"
            name="borough"
            [(ngModel)]="userModel.borough"
          />
          <div *ngIf="borough.errors && (borough.invalid || borough.touched)">
            <small
              [class.d-none]="borough.valid || borough.untouched"
              class="text-error"
              *ngIf="borough.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="borough.errors.pattern"
              >Zadajte dátum vo formáte 'dd.mm.rrrr'</small
            >
          </div>
        </div>
      </div>
      <button
        [disabled]="userForm.form.invalid"
        (click)="nextStep()"
        class="nextBtn"
      >
        Ďalej<i class="fas fa-angle-double-right"></i>
      </button>
    </section>

    <!--Kontaktné údaje-->
    <section id="step3" *ngIf="step === 3">
      <h3>Vaše kontaktné údaje:</h3>
      <a class="prevBtn" (click)="previousStep()"><i class="fas fa-angle-double-left"></i>Späť</a>
      <div class="input-row">
        <!--Email-->
        <div class="form-group">
          <label>E-mailová adresa (nepovinný údaj)</label>
          <input
            type="text"
            pattern="^([a-žA-Ž\d\.-]+)@([a-žA-Ž\d-]+)\.([a-zA-Z]{2,8})(\.[a-zA-Z]{2,8})?$"
            #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            class="form-control"
            name="email"
            [(ngModel)]="userModel.email"
          />
          <div *ngIf="email.errors && (email.invalid || email.touched)">
            <small class="text-error" *ngIf="email.errors.pattern"
              >Zadaná adresa nie je platná</small
            >
          </div>
        </div>

        <!--Telefónne číslo-->
        <div class="form-group">
          <label>Telefónne číslo<span class="star">*</span></label>
          <input
            type="text"
            required
            pattern="^(\+421)? ?[1-9][0-9]{2} ?[0-9]{3} ?[0-9]{3}$"
            #telephone="ngModel"
            [class.is-invalid]="telephone.invalid && telephone.touched"
            class="form-control"
            name="telephone"
            [(ngModel)]="userModel.telephone"
          />
          <div
            *ngIf="telephone.errors && (telephone.invalid || telephone.touched)"
          >
            <small
              [class.d-none]="telephone.valid || telephone.untouched"
              class="text-error"
              *ngIf="telephone.errors.required"
              >Tento údaj je povinný</small
            >
            <small class="text-error" *ngIf="telephone.errors.pattern"
              >Zadajte telefónne číslo v medzinárodnom formáte (napr.: +421 911
              123 456)</small
            >
          </div>
        </div>
      </div>
      <button [disabled]="userForm.form.invalid" id="submit" type="submit">
        Potvrdiť
      </button>
    </section>
  </form>
</div>
